@font-face {
  font-family: 'Pixelify Sans';

  src: url('../fonts/PixelifySans-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
/*    margin-bottom: 60px;*/
background-color: #82ccdd;
font-family: "Pixelify Sans";
text-transform: uppercase;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

/*body > .container {
    padding: 60px 0px 0;
}*/

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.elmt {
    padding-left: 5px;
    padding-right: 5px;
}

.hardware-info {
    font-size: 0.9em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
}

.hardware-info progress {
    width: 50%;
}

.list-group{
    margin-bottom: 5px;
}

.list-group-item button {
    width: 100%;
    display: block;
    text-align: left;

}

.list-group-item-hardware button {
    width: auto;
    display: block;
    text-align: left;
    padding : 5px 15px;


}

.list-group-item-mobile-anims button {
    width: 30%;
    text-align: center;
    margin-top: 5px;
    padding : 5px;

}

.list-group-item-mobile button {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    

}

.list-group-item-mobile-sauts button {
    width: 48%;
    text-align: center;
}

.list-group-item-mobile-nav button {
    margin-top:0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 48%;
    text-align: center;
    vertical-align: middle;
    background-color: orange;

}

.list-group-item-mobileblock button {
    width: 100%;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: orange;

}


li { /* styles all li elements to remove ::marker*/
    list-style-type: none;
}

#media {
    text-align: center;
}

#media >img {
    width: 960px;
    height: 720px;
    margin: 0 auto;
}

#mediamobile {
    text-align: center;
}

/*#mediamobile >img {
    width: 892px;
    height: 412px;
    margin: 0 auto;
}*/

#mediamobile >img {
    width: 520px;
    height: 390px;
    margin: 0 auto;
    align-content: center;
    background-color:beige;
}

#log {
  height: 30px;
  width: auto;
  background-color: lightpink;
  margin-top: 5px;
}

pre#log{
  font-size: 10px;
}

.btn{
  padding: 8px 20px;
  border-radius: 0px;
  border-width: 2.5px;

border-left-color: pink;
border-right-color: blue;
border-block-color: orange blue;
box-shadow: 5px 5px lightgrey;
text-transform: uppercase;
font-size: 14px;
}

.col-sm-2{
  padding-left: 8px;
  padding-right: 8px;

}
.col-xs-2{
  padding-left: 8px;
  padding-right: 8px;
}

.img-responsive{
  border-width: 10px;
  box-shadow: 3px 3px 20px #4a69bd, -3px -3px 20px #4a69bd;
}
